body{
    margin: 0px;
}

.search{
    margin-top: 40px;
    border: 1.5px solid black;
    border-radius: 30px;
    display: flex;
    width: 740px;
    height: 56px;   
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    font-size: 24px;
    padding-left: 30px;
    font-family: 'NeoDunggeunmoPro-Regular';
    background: transparent;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.obj{
    position: relative;
    animation: fadeInDown 1s;
}


.input_box{
    border: none;
    background: transparent;
    outline: none;
    width: 560px;
}

.sbutton{
    background: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 100px;
}


@media screen and (max-width:780px){
    .search{
        width: 350px;
        height: 50px;  
    }

}