body{
    margin: 0;
    overflow-x: hidden
}

.mark{
    left: 300px;
    top: 50px;
    position: relative;
}


.outer {
    height: 100vh;
    overflow-y: auto;
  }
  
  /* 화면에서 스크롤바 안보이게 */
  .outer::-webkit-scrollbar {
    display: none;
  }
  
  .inner {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
  }

  /*.container::-webkit-scrollbar {
    display: none;
  }*/
  
  .mount1{ animation: 0.7s ease-in-out loadEffect1; }

  @font-face {
    font-family: "NeoDunggeunmoPro-Regular";
    src: url("../Fonts/NeoDunggeunmoPro-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "ddag";
    src: url("../Fonts/ddag.ttf") format("truetype");
  }  

  @font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@keyframes loadEffect1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
  